*.csv
trash/
/BeamformIt/
/gcc-nmf/
/outputs/
/specs/
/test_data/
/test_data_2/
*.txt
*.pdf
*.ods
*.zip
/.ipynb_checkpoints/
.idea/
__pycache__/
*.pyc
/utils/.ipynb_checkpoints/
/cache/
/output_wavs/
.~*
*.m~
